
body {
    background-color: rgb(179, 198, 231);
}
.header{
    display: flex;

    justify-content: space-evenly;
    font-family:'Rubik Beastly', cursive;
    background-color: rgb(158, 189, 241);
    border-radius: 40px;
    text-shadow: 70px;

}
.main {
    display: flex;
    justify-content: space-around;
    }
.content {
    display: flex;
    flex-basis: 600px; height:600px;
    justify-content: center;
    }
.content-text{
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-family: 'Rubik Beastly', cursive;
    font-weight: 300;
    font-size:60px;
}
.card{

    display: flex;
    justify-content: space-around;
    height:200px;
    background-color: beige;
}
.card-photo{
    display: flex;
    flex-direction: column;
    
}
.content-titel 
    { color: rgb(0, 0, 0); margin: 18px; 
    text-align: center; font-family :'Rubik Beastly', cursive ;
font-size: 50px;}
.btn a
{
display: flex;
justify-content: center;
text-decoration: none;
color:  rgb(159, 84, 182);  font-size:85px;
font-family:'Rubik Beastly', cursive ;
margin-top: 20px;

}


