body {
    min-width: auto;

}
.wrapper {
    display : flex ;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;
    background-color: beige;
    
     }
.main {
    justify-content: center;
    }
.content {
    display: flex;
    flex-basis: 400px; height:400px;
    justify-content: center;
    background-color: beige;
    

}
.content-text{
    display: grid;
    justify-content: center;
    text-align: center;
    font-family:'Roboto', sans-serif ;
    font-weight: 700;
    font-size: 19px;
}
.card{
    display: flex;
    justify-content: space-around;
     height:300px;
    background-color: beige;
}
.card-photo{
    display: flex;
    flex-direction: column;
    
}

.content-titel 
    { color: rgb(0, 0, 0); margin: 6px; 
    text-align: center; font-family :'Roboto', sans-serif ;}
.content a {
    color:  rgb(0, 0, 0); text-decoration: none; font-weight: 1000; font-size: 25px;
}
.btn {
display: flex;
justify-content: space-around;
text-decoration: none;
color:  rgb(0, 0, 0); font-weight: 1000; font-size: 23px;
font-family:'Roboto', sans-serif ;
}
a.{text-decoration: none;
    color:  rgb(0, 0, 0); font-weight: 1000; font-size: 25px;
    font-family:'Roboto', sans-serif ;

}
